#bart{
    text-align: center;
    justify-items: auto;
    border: 2px solid black;
    width: 50%;

}

#lisa{
    text-align: center;
    justify-items: auto;
    border: 2px solid black;
    width: 50%;
}